// Global - example
* {
  box-sizing: border-box;

  padding: 0;

  margin: 0;
}

a {
  text-decoration: none;

  transition: color 0.3s ease-in-out;

  &:hover {
    color: violet;
  }

  &:not(:hover) {
    text-decoration: underline;
  }
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.container {
  max-width: 1200px;
  padding: 0 20px;

  margin: 0 auto;
}

.section {
  padding-top: 40px;
  padding-bottom: 40px;

  margin-top: 20px;

  &:not(:last-child) {
    margin-bottom: 40px;
  }
}

// Section
.product-related-posts {
  &__heading {
    margin-bottom: 40px;
  }

  &__title {
    margin-bottom: 20px;

    font-size: 36px;
    line-height: 1.2;
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    gap: 20px;
  }

  &__column {
    flex: 0 0 100%;

    @media screen and (min-width: 768px) {
      flex: 0 0 calc(50% - 20px);
    }
  }
}

// Card
.article-card {
  display: flex;
  flex-direction: column;

  height: 100%;
  padding: 20px;

  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  row-gap: 20px;

  &__media {
    width: 100%;
    padding-top: 56.25%;

    position: relative;

    transition: opacity 0.3s ease-in-out;

    &-image {
      height: 100%;

      position: absolute;
      inset: 0;
    }

    &:hover {
      opacity: 0.6;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex: 1;
    row-gap: 10px;
  }

  &__heading {
    margin-bottom: 10px;

    font-size: 24px;
    line-height: 1.2;
  }

  &__excerpt {
    font-size: 16px;
    line-height: 1.5;
  }
}
