{% comment %}
   Section: Related Blog Posts
   Description: Displays posts related to the current product based on the product metafield 'related_blog' and
   post metafield 'related_products'. If no related posts are found, it will try to display posts based on the section settings.
   If no section settings are provided, it will try to display posts from the default blog.
   Unfortunately, Shopify doesn't allow to query articles by metafields, so we need to loop through all articles in the
   related blog and check if the current product is in the list of related products in the article metafield 'related_products'.

   Settings:
     - Heading (text): The heading of the section.
  - Description (text): The description of the section.
  - Blog Handle (text): Type in blog handle.
  - Posts Handle (text): Type in the post handle separated by comma. Posts must be from the same blog as Blog Handle.

   Usage:
  - Add the section to the product template.
{% endcomment %}

{{ 'section-blog-posts.css' | asset_url | stylesheet_tag }}

{% liquid
  assign errors = blank
  assign related_blog = blogs[product.metafields.custom.related_blog]
  assign max_posts = 2
  assign current_product_id = product.id

  if related_blog == blank
    if section.settings.related_blog != blank
      assign related_blog = blogs[section.settings.related_blog]
    else
      assign related_blog = blogs.blog
    endif
  endif
%}

{% comment %}
  At first we need to check if related blog has articles.
  We don't want to display the section if there are no articles in the related blog.
{% endcomment %}
{% if related_blog.articles != blank %}
  <div id='{{ section.id }}' class='container'>
    {% if section.settings.heading != blank %}
      <div class='product-related-posts__heading text-center'>
        <h2 class='product-related-posts__title'>{{ section.settings.heading }}</h2>
        {% if section.settings.description != blank %}
          <p class='product-related-posts__description'>{{ section.settings.description }}</p>
        {% endif %}
      </div>
    {% endif %}
    <div class='product-related-posts__row'>
      {% comment %}
        Shopify doesn't allow to query articles by metafields,
        so we need to loop through all articles in the related blog.
      {% endcomment %}
      {% for article in related_blog.articles %}
        {% comment %}
          While looping through the articles, we need to check if the
          current product is on the list of related products.
        {% endcomment %}
        {% assign related_products = article.metafields.custom.related_products | split: ',' %}
        {% if related_products.first != '[]' %}
          {% for related_product_id in related_products %}
            {% if related_product_id contains current_product_id %}
              <div class='product-related-posts__column'>
                {% render 'RelatedPostCard', article: article, show_image: true, show_excerpt: true %}
              </div>
            {% endif %}
          {% endfor %}
        {% else %}
          {% comment %}
            When no related products are found, we should try to display posts based on the section settings.
          {% endcomment %}
          {% assign related_posts = section.settings.related_posts | split: ',' %}
          {% if related_posts != blank %}
            {% for related_post in related_posts %}
              {% assign article_handle_last = article.handle | split: '/' %}
              {% assign article_handle_last = article_handle_last[-1] %}
              {% if article_handle_last == related_post %}
                <div class='product-related-posts__column'>
                  {% render 'RelatedPostCard', article: article, show_image: true, show_excerpt: true %}
                </div>
              {% endif %}
            {% endfor %}
          {% else %}
            {% comment %}
              When no related posts are found we should try to display post from default blog.
            {% endcomment %}
            {% if forloop.index <= max_posts %}
              <div class='product-related-posts__column'>
                {% render 'RelatedPostCard', article: article, show_image: true, show_excerpt: true %}
              </div>
            {% endif %}
          {% endif %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% else %}
  {% assign errors = 'No related blog posts found. Check if blog handle is correct and/or if there are published articles in the related blog.' %}
  {% if request.design_mode %}
    <div class='container text-center'>
      <h2>Warning: This message is visible only in the theme editor.</h2>
	  <p>{{ errors }}</p>
    </div>
  {% endif %}
{% endif %}

{% schema %}
{
  "name": "Related Blog Posts",
  "tag": "section",
  "class": "section product-related-posts",
  "limit": 1,
  "settings": [
    {
      "type": "header",
      "content": "Related Blog Posts Settings"
    },
    {
      "type": "paragraph",
      "content": "This section displays posts related to the current product based on the product metafield 'related_blog' and post metafield 'related_products'. If no related posts are found, it will try to display posts based on the section settings."
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Related Blog Posts"
    },
    {
      "type": "text",
      "id": "description",
      "label": "Description",
      "default": "Check out these related blog posts"
    },
    {
      "type": "text",
      "id": "related_blog",
      "label": "Blog Handle",
      "default": "blog",
      "info": "Type in blog handle."
    },
    {
      "type": "text",
      "id": "related_posts",
      "label": "Posts Handle",
      "info": "Type in the post handle separated by comma. Posts must be from the same blog as Blog Handle."
    }
  ],
  "enabled_on": {
    "templates": ["product"]
  },
  "presets": [
    {
      "category": "Blog",
      "name": "Related Blog Posts"
    }
  ]
}
{% endschema %}
