{% comment %}
  Snippet: Related Post Card
  Description: Renders an post card for a given article with settings to either show the image/excerpt or not.

  Accepts:
  	- article: {Object} Article object
  	- show_image: {Boolean, String} The setting either show the article image or not. If it's not included it will show the image by default

  Usage:
  {% render 'RelatedPostCard', article: article, show_image: true, show_excerpt: true %}
{% endcomment %}

{%- if article and article != empty -%}
  <article class='article-card'>
    {%- if show_image == true and article.image -%}
      <a href='{{ article.url }}' class='article-card__media'>
        {{
          article.image
          | image_url: width: 520
          | image_tag:
            class: 'article-card__media-image',
            loading: 'lazy',
            widths: '255, 350, 520',
            alt: article.image.alt
          | escape
        }}
      </a>
    {%- endif -%}
    <div class='article-card__content'>
      <h3 class='article-card__heading'>
        <a href='{{ article.url }}'>
          {{ article.title | truncate: 50 | escape }}
        </a>
      </h3>
      {%- if article.excerpt.size > 0 or article.content.size > 0 -%}
        <p class='article-card__excerpt'>
          {%- if article.excerpt.size > 0 -%}
            {{ article.excerpt | strip_html | truncatewords: 20 }}
          {%- else -%}
            {{ article.content | strip_html | truncatewords: 20 }}
          {%- endif -%}
        </p>
      {%- endif -%}
    </div>
  </article>
{%- endif -%}
